<a href="https://colab.research.google.com/github/Udynathcodes/Sheedx-Africa-Python-for-AI-ML/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dope irrelevant colomns

In [6]:
import pandas as pd
#define a dictionary of sample data
data = {
        "A": [1, 3, 4, None, 5],
        "B": [None, 2, 7, 4, 6],
        "C": [9, 8, None, None, 6]}
df = pd.DataFrame(data)
print("Original Data")
print(df)
print()
#using dropna function to remove rows with an missing values
df_remov = df.dropna()
print("Data after removing missing values")
print(df_remov)

Original Data
     A    B    C
0  1.0  NaN  9.0
1  3.0  2.0  8.0
2  4.0  7.0  NaN
3  NaN  4.0  NaN
4  5.0  6.0  6.0

Data after removing missing values
     A    B    C
1  3.0  2.0  8.0
4  5.0  6.0  6.0

Filling missing **values**

In [8]:
data = {
        "A": [1, 3, 4, None, 5],
        "B": [None, 2, 7, 4, 6],
        "C": [9, 8, None, None, 6]}
df = pd.DataFrame(data)
print("Original Data")
print(df)
print()
#filling NaN with 0
df.fillna(0, inplace=True)
print("Data after filling missing values")
print(df)

Original Data
     A    B    C
0  1.0  NaN  9.0
1  3.0  2.0  8.0
2  4.0  7.0  NaN
3  NaN  4.0  NaN
4  5.0  6.0  6.0

Data after filling missing values
     A    B    C
0  1.0  0.0  9.0
1  3.0  2.0  8.0
2  4.0  7.0  0.0
3  0.0  4.0  0.0
4  5.0  6.0  6.0

Returning the mean using aggregate()

In [9]:
data = {
        "A": [1, 3, 4, None, 5],
        "B": [None, 2, 7, 4, 6],
        "C": [9, 8, None, None, 6]}
df = pd.DataFrame(data)
#Filling NaN with the mean of each column
df.fillna(df.mean(), inplace=True)
print("Data after filling missing values")
print(df)

Data after filling missing values
      A     B         C
0  1.00  4.75  9.000000
1  3.00  2.00  8.000000
2  4.00  7.00  7.666667
3  3.25  4.00  7.666667
4  5.00  6.00  6.000000

In [13]:
data = {
        "A": [1, 2, 2, 3, 3, 4],
        "B": [5, 6, 6, 8, 7, 4]
}
df= pd.DataFrame(data)
print("Orinal DataFrame Values")
print()

#Check for duplicates
print("Duplicate Values")
print(df.duplicated())
print()

#Remove duplicates
df.drop_duplicates(inplace=True)
print("Data after removing duplicates")
print(df)

Orinal DataFrame Values

Duplicate Values
0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

Data after removing duplicates
   A  B
0  1  5
1  2  6
3  3  8
4  3  7
5  4  4

Renaming **column**

In [16]:
data = {
        "A": [11, 33, 40,],
        "B": ["Glory", "Sandrq", "Esther"],
        "C": [10000, 40000, 60000]}
df = pd.DataFrame(data)
print("Original Data")
print(df)
print()

df.rename(columns={"A": "Age", "B": "Name", "C": "Salary"}, inplace=True)
print("Data after renaming columns")
print(df)

#

Original Data
    A       B      C
0  11   Glory  10000
1  33  Sandrq  40000
2  40  Esther  60000

Data after renaming columns
   Age    Name  Salary
0   11   Glory   10000
1   33  Sandrq   40000
2   40  Esther   60000