<a href="https://colab.research.google.com/github/Udynathcodes/Sheedx-Africa-Python-for-AI-ML/blob/main/Pandas_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd #ps as alias

#create a list
data = {"Glory": 20.5, "Sandar": 23.5, "Promise": 30.2}

#Create a series from the the list(data)
my_ser = pd.Series(data)

#Display the series
print(my_ser)

Glory      20.5
Sandar     23.5
Promise    30.2
dtype: float64

In [22]:
grades = {"Glory": 85, "Sandar": 67, "Promise": 90}
#select specific dictionary items using index argument
inde_ar = pd.Series(grades, index=["Glory", "Promise"])
#Display the series
print(inde_ar)

Glory      85
Promise    90
dtype: int64

**Pandas DataFrames**

In [24]:
dic = {"Names": ["Glory", "Sandar", "Pro"],
       "Aga": [21, 30, 90],
       "City": ["Uyo",  "Eket", "Oron"]}
#Create a dataframe from dictionary(dic)
print(dic)
df = pd.DataFrame(dic)
#Display the dataframe
print(df)

{'Names': ['Glory', 'Sandar', 'Pro'], 'Aga': [21, 30, 90], 'City': ['Uyo', 'Eket', 'Oron']}
    Names  Aga  City
0   Glory   21   Uyo
1  Sandar   30  Eket
2     Pro   90  Oron

**Creating a pandas Dataframe from a python list**

In [26]:
py_list = [["Glory", 21, "Uyo"],
           ["Sandar", 30, "Eket"],
           ["Promise", 90, "Oron"]]
print(py_list)
# Create a dataFrame from our list(py_list)
df = pd.DataFrame(py_list, columns=["Names", "Age", "City"])
#Display the dataframe
print(df)

[['Glory', 21, 'Uyo'], ['Sandar', 30, 'Eket'], ['Promise', 90, 'Oron']]
     Names  Age  City
0    Glory   21   Uyo
1   Sandar   30  Eket
2  Promise   90  Oron

In [27]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

**Pandas Index**

In [29]:
data = {"Name": ["Glory", "Sandar", "Promise"],
        "Aga": [ 100, 200, 300],
        "City": ["Uyo", "Eket", "Oron"]}
df = pd.DataFrame(data)
print(df)

      Name  Aga  City
0    Glory  100   Uyo
1   Sandar  200  Eket
2  Promise  300  Oron

Setting **Index**

In [30]:
data = {"Name": ["Glory", "Sandar", "Promise"],
        "Aga": [ 100, 200, 300],
        "City": ["Uyo", "Eket", "Oron"]}
df = pd.DataFrame(data)
df.set_index("Name", inplace=True)
print(df)

         Aga  City
Name
Glory    100   Uyo
Sandar   200  Eket
Promise  300  Oron

Range **Index**

In [35]:
data = {"Name": ["Glory", "Sandar", "Promise"],
        "Aga": [ 100, 200, 300],
        "City": ["Uyo", "Eket", "Oron"]}
df = pd.DataFrame(data)

#Create a range index
df = pd.DataFrame(data, index=pd.RangeIndex(5, 8))
print(df)

      Name  Aga  City
5    Glory  100   Uyo
6   Sandar  200  Eket
7  Promise  300  Oron

**Modifying indexes in** **pandas**

In [38]:
data = {"Name": ["Glory", "Sandar", "Promise"],
        "Aga": [ 100, 200, 300],
        "City": ["Uyo", "Eket", "Oron"]}
df = pd.DataFrame(data)
#Display original dataFrame
print("Original Dataframe")
print(df)
print()
#Reaname index
df.rename(index={0: "x", 1: "Y", 2: "Z"}, inplace=True)
print("Modified Dataframe")
print(df)

Original Dataframe
      Name  Aga  City
0    Glory  100   Uyo
1   Sandar  200  Eket
2  Promise  300  Oron

Modified Dataframe
      Name  Aga  City
x    Glory  100   Uyo
Y   Sandar  200  Eket
Z  Promise  300  Oron